<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HighCharts in Ionic 5 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list-header color="light">Simple Bar Chart</ion-list-header> -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-barchart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Stacked Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-stacked-barchart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Pie Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-piechart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Dynamic Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-Dynamic-chart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple drilldown Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-drilldown-chart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Variable radius pie Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-vr-pie-chart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple 3D bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts-3d-bar-chart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>